


.container {
  text-align: center;
  display: flex;  
  align-items: center;
  flex-direction: column;
}
p {
  font-family: 'Calibri';
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
.description-top {
  padding-top: 80px;
}
.description-bottom {
  padding-bottom: 30px;

}

.counter-app {
  background: rgb(251, 184, 59);
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 250px;
  height: 350px;
}

.middle {
  background: white;
  width: 160px;
  height: 110px;
  margin: 12.5px;
  border-radius: 5px;
}

.counter-text {
  color: orangered;  
}

.counter-value {
  color: black;
  padding-top: 25px;
}
.counter-app button {
  width: 20px;
  height: 25px;
  border: none;
}

.increment button {
  background: rgb(2, 255, 2);
}

.decrement button {
  background: red;
}